*{
    width: 100%;
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'Dancing Script', cursive;
    color: #ffff;
}

.btn {
    background-color: #ffbe33;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px 30px;
    border-radius: 45px;
    border: none;
    font-size: 18px;
    white-space: nowrap;
}
.btn:hover{
    background-color:#dd9d13;
    transition: all o.3s;
}
/* menu section start */
.banner-section{
    background-image: url(resource/image/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 593px;
}
.banner{
    width: 100%;
    height: 30px;
}

.container{
    display: flex;
    width: 85%;
    margin: 20 ;
 }
.container h2{
    margin-right: 200px;
 }
.nav-item{
    display: flex;
    list-style: none;
    margin-top: 10px;
 }
.nav-item a{
    text-decoration: none;
    white-space: nowrap;
    margin-right: 40px;
    margin-left: 20px;
    color: #ffff;
 }
 .nav-item a:hover{
    color: #ffbe33;
    transition: all 0.3s;
 }
.icon{
    display: flex;
    gap: 10px;
    margin-left: 60px;
    margin-right: 20px;
    margin-top: 10px;
 }
 
.fa-solid{
    color: white;
 }
.fa-solid:hover{
    color: #ffbe33;
    transition: all o.3s;
 }

 /* main content start */

 .main-content{
    width: 85%;
    margin-top: 80px;
 }
 .main-content h1{
    margin-bottom: 30px;
    font-size: 40px;
 }
 p{
    color: #fff;
    margin-bottom: 50px;
    font-size: 16px;
 }